// media for 1200px
@media ( max-width: 1199px )
	.container
		max-width: 960px
	.hotel-slider
		&__container
			width: 600px
	.card
		width: 230px
	.package
		&_first
			grid-row: 2 / 3
			grid-column: 1 / 2
		&_second
			grid-row: 2 / 3
			grid-column: 2 / 3
		&_third
			grid-row: 3 / 4
			grid-column: 1 / 2
		&_forth
			grid-row: 3 / 4
			grid-column: 2 / 3
	.footer
		&__logo
			grid-row: 1 / 2
		&__input
			flex-basis: 100%
// media for 992px		
@media ( max-width: 991px )
	.container
		max-width: 700px
	.newsletter
		&__container
			max-width: 100%
			padding: 92px 0 93px 0
	.logo
		width: 132px
	.navbar
		&-top
			padding: 30px 0
		&__search
			margin-left: auto
		&-menu
			&__links
				padding: 22px 0
			&__link
				font-size: 12px
				line-height: 15px
	.hotel
		&-grid
			flex-direction: column
		&__booking
			margin-bottom: 0
		&-slider
			&__container
				width: 100%
			&__media
				margin-bottom: 30px
		&__second
			display: flex
			justify-content: space-between
	.reviews
		padding: 40px 0 50px 0
		&__title
			font-size: 30px
			line-height: 38px

		&-slider
			&__item
				margin-top: 95px
				max-width: 579px
				min-height: 300px
				padding: 0 62px 30px 62px
				&::before, &::after
			      display: none

	.booking
		width: 340px

	.map
		width: 340px
	.activities
		padding: 60px 0 70px 0
	.card
		width: 339px
		&_media
			margin-bottom: 20px
			&:nth-last-child(-n+2)
				margin-bottom: 0
	.packages
		padding: 30px 0 20px 0
		&__title
			margin-bottom: 55px
			font-size: 30px
		&-wrapper
			grid-template: repeat(3, 470px) / repeat(2, 320px)
	.package
		grid-template: repeat(2, 235px) / 100%
		&_big
			grid-template: 100% / 50% 50%
			grid-row: span 1
			grid-column: span 2
		&__about
			&-text
				margin-bottom: 15px

		&__image
			height: 235px
			&_big
				grid-row: 1 / 2
				grid-column: 1 / 2
				width: 100%
				height: 100%
	.footer
		padding: 73px 0 33px 0
		&__logo
			grid-row: 1 / 2
			grid-column: 1 / 2
			align-self: start
			justify-self: start
			height: 120px
			width: 104px
			margin-bottom: 38px

		&__social
			&-network
				grid-row: 1 / 2
				grid-column: 2 / 4
				align-self: center
				justify-self: center
		&__categories
			grid-row: 2 / 3
			margin-bottom: 61px
		&__additional
			grid-row: 2 / 3
			grid-column: 2 / 4
			justify-self: center
		&__legal
			grid-row: 2 / 3
			grid-column: 3 / 5
		&__contact
			&-details
				grid-column: 1 / 5
				margin-bottom: 60px
			&-form
				grid-column: 1 / 4
		&__input
			flex-basis: 48%
		&__policy
			grid-column: 1 / 3
			justify-self: start
		&__policy
			margin-top: 63px

// media for 768px
@media (max-width: 767px)
	.breadcrumb
		padding-top: 89px
	.container
		width: 92%
		max-width: 576px
	.newsletter
		&__container
			padding: 76px 0 83px 0
		&__title
			font-size: 30px
			line-height: 38px
			margin-bottom: 37px
			&_strong
				font-size: 20px
				line-height: 25px
		&__email
			width: 100%

	.navbar
		&-bottom
			display: none
			position: fixed
			top: 70px
			right: 0
			left: 0
			bottom: 0
			&_visible
				display: block
		&_mobile-fixed
			position: fixed
			left: 0
			top: 0
			right: 0
			z-index: 5
		&-menu
			&__item
				margin-bottom: 20px
				&_mobile-visible
					display: block
			&__links
				flex-direction: column
				align-items: center
				justify-content: space-between
		&__search
			margin: 0
			width: 243px
			&_mobile-hidden
				display: none
		&__user
			&_mobile-hidden
				display: none

	.user
		flex-direction: column
		margin: 0
		align-items: center

		&__name
			margin: 0 0 7px 0
			color: $light
		&__avatar
			margin-bottom: 10px

	.menu
		&-button
			display: flex
			align-items: center
			justify-content: space-between
			flex-direction: column
			width: 16px
			height: 11px
			border: none
			outline: none
			cursor: pointer
			background-color: inherit
			p
			&__line
				width: 16px
				height: 1px
				background-color: $text-color

	.stars
		flex-basis: 15%
		margin-left: 140px

	.hotel
		padding: 23px 0 60px 0

		&-name
			flex-basis: 100%
		&-info
			&__text
				width: 100%
			&__rating
				display: none
			&__offer
				order: -1
				margin: 0
			&__name
				margin-top: 10px
		&__second
			flex-direction: column
		&__booking
			margin-bottom: 20px
	.map
		width: 100%
	.booking
		width: 100%
	.hotel-slider
		&__container
			height: 350px
		&__media
			margin-bottom: 20px
	.reviews
		&__title
			font-size: 18px
			line-height: 23px
		&-slider
			&__item
				margin: 87px auto 0 auto
				max-width: 100%
				padding: 0 31px 36px 31px
			&__button
				top: 52px
				&_prev
					left: 50%
					transform: translate(-50%, 0)
					margin-left: -85px
				&_next
					right: 50%
					transform: translate(50%, 0)
					margin-right: -85px
	.activities
		padding: 40px 0 60px 0
	.card
		width: 100%
		&_media
			&:nth-last-child(2)
				margin-bottom: 20px
			&:last-child
				margin-bottom: 0
	.packages
		padding: 20px 0 40px 0
		&__title
			margin-bottom: 40px
		&-wrapper
			grid-template: repeat(5, 470px) / repeat(1, 100%)
			grid-gap: 30px 0
	.package
		grid-template: repeat(2, 235px) / 100%
		&_big
			grid-template: 100% / 40% 60%
		&__about
			padding: 20px 10px
			&-text
				font-size: 12px
			&-book
				justify-content: flex-end
				flex-wrap: wrap
				&-price
					flex-direction: row
					align-items: center
			&-button
				width: 100%
			&-oldprice
				margin-right: 5px
			&-newprice
				margin-bottom: 4px
		&_first
			grid-row: 2 / 3
			grid-column: 1 / 2
		&_second
			grid-row: 3 / 4
			grid-column: 1 / 2
		&_third
			grid-row: 4 / 5
			grid-column: 1 / 2
		&_forth
			grid-row: 5 / 6
			grid-column: 1 / 2
	.footer
		&-wrapper
			grid-template-columns: repeat(6, minmax(min-content, 1fr))
		&__logo
			grid-row: 1 / 2
			grid-column: 1 / 2
			align-self: start
			justify-self: start
		&__social
			&-network
				grid-row: 1 / 2
				grid-column: 3 / 5
				align-self: center
				justify-self: center
		&__contact
			&-form
				grid-column: 1 / 8
		&__categories
			grid-column: 1 / 2
			grid-row: 2 / 3
			justify-self: start
		&__additional
			grid-column: 3 / 5
			grid-row: 2 / 3
			justify-self: center
		&__legal
			grid-row: 2 / 3
			grid-column: 6 / 8
		&__input
			flex-basis: 100%
		&__policy
			grid-column: 1 / 5
		&__services
			grid-column: 5 / 8

// media for 576px
@media (max-width: 575px)
	.logo
		width: 99px
	.hotel
		padding: 5px 0 40px 0
		&-slider
			&__container
				height: 179px
	.map
		height: 172.94px
	.reviews
		&__title
			max-width: 240px
			font-size: 18px
			line-height: 23px
		&-slider
			&__item
				min-height: 438px
			&__text
				text-align: left
	.activities
		&__title
			font-size: 18px
	.packages
		&__title
			margin-bottom: 20px
			font-size: 18px
	.package
		&__about-mark
			margin-bottom: 6px
		&__about-title

			margin-bottom: 8px

		// .package__about-text

		&__about-text

			margin-bottom: 12px
		// .package__about-info

		&__about-info
			margin-bottom: auto
			display: flex
			flex-direction: column
	.footer
		padding: 69px 0 21px 0
		&-wrapper
			grid-template-columns: 1fr
			grid-auto-rows: min-content
			grid-row-gap: 0
		&__title
			&_social
				margin-bottom: 22px
			&_contact
				margin-bottom: 15px
		&__logo
			grid-row: 1
			grid-column: 1
			align-self: start
			justify-self: start
			margin-bottom: 30px
		&__social
			&-network
				grid-row: 2
				grid-column: 1
				align-self: center
				justify-self: start
				flex-direction: column
				align-items: flex-start
				margin-bottom: 31px
		&__contact
			&-details
				grid-row: 6
				grid-column: 1
			&-form
				grid-column: 1
				grid-row: 7
		&__legal
			grid-row: 3
			grid-column: 1
			justify-self: start
			margin-bottom: 30px
		&__additional
			grid-column: 1
			grid-row: 4
			justify-self: start
			margin-bottom: 30px
		&__categories
			grid-column: 1
			grid-row: 5
			justify-self: start
			margin-bottom: 40px
		&__form
			flex-direction: column
			align-items: start
		&__input
			width: 100%
			min-height: 50px
			max-height: 50px
			margin-bottom: 15px
		&__message
			margin-bottom: 15px
		&__button
			order: 2
			margin: 0
		&__info
			margin-bottom: 15px
		&__policy
			grid-column: 1
			grid-row: 8
			margin-bottom: 10px
			&-ul
				justify-content: space-between

		&__services
			grid-row: 9
			grid-column: 1
			justify-self: start
			align-self: start
@media (max-width: 320px)
	.package
		&__about-mark
			display: none
		&__about-text
			margin-bottom: 12px
		// .package__about-info

		&__about-info
			margin-bottom: auto
			display: flex
			flex-direction: column
		&__about-oldprice_big 
			font-size: 10px
			margin-right: 12px
		&__about-newprice_big
			font-size: 12px
	.footer
		&__policy
			grid-column: 1
			grid-row: 8
			margin-bottom: 10px
			width: 100%
			&-ul
				justify-content: space-between
