// media for 1200px
@media ( max-width: 1199px )
	.container
		max-width: 960px
	.slider
		width: 600px

// media for 992px		
@media ( max-width: 991px )
	.container
		max-width: 700px
	.newsletter
		&__container
			max-width: 700px
			padding: 92px 0 93px 0
	.logo
		width: 132px
	.navbar
		&-top
			padding: 30px 0
		&__search
			margin-left: auto
		&-menu
			&__links
				padding: 22px 0
			&__link
				font-size: 12px
				line-height: 15px
	.hotel
		&-grid
			flex-direction: column
		&__booking
			margin-bottom: 0
		&__slider
			margin-bottom: 30px
		&__second
			display: flex
			justify-content: space-between

	.booking
		width: 340px
	.slider
		width: 100%
	.map
		width: 340px
// media for 768px
@media (max-width: 767px)
	.container
		width: 92%
		max-width: 576px
	.newsletter
		&__container
			padding: 76px 0 83px 0
		&__email
			width: 100%
	.navbar
		&__search, &__user, &-menu
			display: none
	.menu
		&-button
			display: flex
			align-items: center
			justify-content: space-between
			flex-direction: column
			width: 16px
			height: 11px
			border: none
			outline: none
			cursor: pointer
			background-color: inherit
			&__line
				width: 16px
				height: 1px
				background-color: $text-color
	.stars
		flex-basis: 15%
		margin-left: 140px

	.hotel
		padding: 23px 0 60px 0
		&-wrapper

		&-name
			flex-basis: 100%
		&-info
			&__text
				width: 100%
			&__rating
				display: none
			&__offer
				order: -1
				margin: 0
			&__name
				margin-top: 10px
		&__second
			flex-direction: column
		&__booking
			margin-bottom: 20px
	.map
		width: 100%
	.booking
		width: 100%
	.slider
		height: 350px
		margin-bottom: 20px
// media for 576px
@media (max-width: 575px)
	.logo
		width: 99px
	.hotel
		padding: 5px 0 40px 0
	.slider
		height: 179px
	.map
		height: 172.94px
